<div class="blog-container">
    some
    <!-- <div class="flex items-center">
        <p>Articles</p>
        <p class="ml-2 mt-[17px] text-[#81F59B]"><mat-icon class="extra-large-icon">arrow_forward_ios</mat-icon><mat-icon
                class="-ml-5 extra-large-icon">arrow_forward_ios</mat-icon> </p>
        <p>{{articles?.title}}</p>
    </div>
    <div class="py-10">
        <h1>{{articles?.title}}</h1>
        <span class="published-date">By {{articles?.author}} on {{articles?.date}}</span>
    </div>
    <div class="py-5" [innerHTML]="articles?.content"></div> -->
</div>
