.blog-container{
    // font-family:  Arial, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.published-date{
    color: #81F59B;
}
.extra-large-icon {
    font-size: 15px; /* Adjust size as needed */
  }
