<div class="flex lg:justify-end mb-10">
  <div class="px-10 w-full xl:w-[70%] flex gap-5 justify-end">
    <div class="w-full md:w-1/3">
      <div class="border border-innerText">
        <h1 class="p-3 border-b border-innerText text-gray-100 text-xl">Language</h1>
        <h1 class="p-3 text-gray-300 text-lg">JavaScript, TypeScript and C</h1>
      </div>
    </div>

    <div class="w-full md:w-1/3 flex flex-col gap-5">
      <div class="border border-innerText">
        <h1 class="p-3 border-b border-innerText text-gray-100 text-xl">Frameworks</h1>
        <h1 class="p-3 text-gray-300 text-lg">
          Angular, React.js, Next.js, Node.js, Express.js, TailwindCSS, Material-UI
        </h1>
      </div>

      <!-- <div class="border border-innerText">
        <h1 class="p-3 border-b border-innerText text-gray-100 text-xl">Familiar</h1>
        <h1 class="p-3 text-gray-300 text-lg">
          Angular, React.js, Node.js, Express.js, HTML, CSS, EJS, SCSS, REST, MongoDB, JWT, Formik, Redux, Git
        </h1>
      </div> -->
    </div>

    <div class="w-full md:w-1/3 flex flex-col gap-5">
      <div class="border border-innerText">
        <h1 class="p-3 border-b border-innerText text-gray-100 text-xl">Other</h1>
        <h1 class="p-3 text-gray-300 text-lg">
          
          Object-Oriented Programming (OOP), Problem Solving, Google Search, Fluent in English
        </h1>
      </div>

      <div class="border border-innerText">
        <h1 class="p-3 border-b border-innerText text-gray-100 text-xl">Tools</h1>
        <h1 class="p-3 text-gray-300 text-lg">
          Chrome Dev Tools, VSCode, Postman, Heroku, Netlify, Slack, Jira, CodeBlocks
        </h1>
      </div>
    </div>
  </div>
</div>
