<div class="text-white h-24 text-4xl flex justify-between items-center ">
  <div class="flex items-center cursor-pointer" routerLink="/">
    <!-- <img src="assets/heart.png" alt="heart"> -->
    
    <img src="assets/logo.svg" alt="heart">
    <h3 class="text-[25px] font-bold ml-5">Kabir Hasan</h3>
  </div>
  <div class="">
    <ul class="flex gap-8 text-xl">
      <li><a routerLink="/home" class="flex items-center"><span class="mr-[2px]">#</span>Home</a></li>
      <li><a routerLink="/articles" class="flex items-center"><span class="mr-[2px]">#</span>Articles</a></li>
      <li><a routerLink="/contact" class="flex items-center"><span class="mr-[2px]">#</span>Contact</a></li>
      <li><a href="https://kabirul-hasan.vercel.app/" target="_blank" class="flex items-center text-[#B0FBBC]"><span class="mr-[2px]">#</span>Portfolio</a></li>
    </ul>
    
  </div>
</div>
