/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #fff; }


$primaryBG: #ffffff;
$primaryText: #fff;


.kc-card {
  padding: 12px;
  background: #ffffff;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 11px #e2e2e2;
  padding: 24px;
  border-radius: 2px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #4d4f53;
}

.mat-drawer-container {
  height: 100% !important;
}

.active-link {
  border-bottom: 8px solid #13293d !important;
  background: #14243b !important;
}

.active-tab-link {
  background: #22375b;
}

hr {
  border-color: var(--color-border-200) !important;
}

.full-rounded {
  border-radius: 50% !important;
}

.rounded-button {
  border-radius: 25px !important;
}

.text-error {
  color: darkred !important;
}

.text-warn {
  color: darkorange !important;
}

.text-success {
  color: darkgreen !important;
}

.text-info {
  color: #5bc4d6 !important;
}

.snackbar-dark {
  background: #22375b !important;
  color: white !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a4a7b8;
  // border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #354c7c;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c3569;
}

.container{
  
}

/*
*snack bar start
*/
.sb-success {
  @apply bg-green-300 shadow-md shadow-green-300 rounded-md w-[592px] max-h-[206px] h-[76px];
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
}

.sb-warn {
  @apply bg-yellow-50 shadow-md shadow-yellow-100 rounded-md w-[592px] max-h-[206px] h-[76px];
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
}

.sb-notification {
  @apply bg-blue-50 shadow-md shadow-blue-100 rounded-md w-[592px] max-h-[206px] h-[76px];
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
}

.sb-error {
  @apply bg-red-50 shadow-md shadow-red-100 rounded-md w-[592px] max-h-[206px] h-[76px] text-sky-900;
  transition: 0.3s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
}

@screen md {
  .sb-success {
    @apply w-[800px];
  }

  .sb-warn {
    @apply w-[800px];
  }

  .sb-notification {
    @apply w-[800px];
  }

  .sb-error {
    @apply w-[800px];
  }
}

@screen lg {
  .sb-success {
    @apply w-[1216px];
  }

  .sb-warn {
    @apply w-[1216px];
  }

  .sb-notification {
    @apply w-[1216px];
  }

  .sb-error {
    @apply w-[1216px];
  }
}

/*
*snack bar end
*/

.icon_sm {
  $size: 20px;
  font-size: $size;
  line-height: $size;
  width: $size !important;
  height: $size !important;
}

.info-name-box {
  background: var(--background-info-name-box);
  border: 1.5px solid var(--color-border);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;
  word-break: break-all;
  white-space: pre-line;

  ._label {
    @apply text-sm;
  }

  ._val {
    @apply text-lg font-medium;
  }
}

.table {
  &-container {
    overflow-x: auto;
  }

  &-ui {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 4px;
    background: var(--background);
    position: relative;
    overflow: hidden;
    min-width: 570px;

    .inner-container {
      //height: 221px;
      // overflow-y: scroll;
      // padding-bottom: 40px;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background: var(--background-info-name-box);
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: var(--background-kc-stepper);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--background-kc-stepper);
      }
    }
  }
}

mat-button-toggle-group {
  .mat-button-toggle-button {
    background: var(--background-kc-stepper);
  }

  .mat-button-toggle-checked {
    .mat-button-toggle-button {
      background: var(--background-info-name-box);

      .check-icon {
        display: block;
        margin-right: 10px;
      }
    }
  }

  .mat-button-toggle-appearance-standard {
    background: var(--background-kc-stepper) !important;
  }

  .mat-button-toggle-checked {
    background: var(--background-info-name-box) !important;
  }
}

// .item2{
//   height: 500px !important;
// }
.kc-button-primary {
  color: white;
  width: 100%;
  background: #4164a9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kc-progress-bar {
  .mat-progress-bar-fill::after {
    @apply bg-[#ec0e94];
  }
}

.kc-progress-bar {
  .mat-progress-bar-buffer {
    @apply bg-white;
  }
}

.kc-progress-bar {
  .mat-progress-bar {
    @apply rounded-full;
  }
}

.spinner-4 {
  // margin-top: 25px;
  width: 30px;
  --b: 3px;
  /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #ec008c) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}

@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #d10d74;
  margin: 0 !important;
}

// Filter
.filter_icon_btn {
  .mat-icon {
    $iconSize: 29px;
    font-size: $iconSize;
    height: $iconSize;
    width: $iconSize;
    line-height: $iconSize;
  }
}

h1 {
  @apply text-4xl font-bold mb-4;
}

h2 {
  @apply text-3xl font-semibold mb-3;
}

h3 {
  @apply text-2xl font-medium mb-2;
}

h4 {
  @apply text-xl font-medium mb-2;
}

p {
  @apply text-lg mb-4;
}
pre{
  background-color: #124723;
  border-radius: 5px;
  padding: 10px;
}
.gray-text{
  color: #7AB6D9;
  font-size: 12px;
}
.container {  
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;    
}

.quote {
    color: #8cc540;
    font-style: italic;
}

.redText {
    color: Red;
    font-size: 12px;
    font-family: Arial;
}

h1.titleText {
    color: #69a8cf;
    text-align: left;
    margin-top: 40px;
    font-weight: normal;
}
::ng-deep angular-editor-toolbar button i {
  font-family: FontAwesome !important; 
  } 

  angular-editor-toolbar button i {
    font-family: FontAwesome !important;
    color: #474d6d !important;
    
    }