<div class="flex justify-end">
  <div class="cube-container">
    <input
      class="radio-button"
      hidden
      type="radio"
      name="cube-gallery"
      [checked]="isChechked === 6"
    />
    <input
      class="radio-button"
      hidden
      type="radio"
      name="cube-gallery"
      [checked]="isChechked === 1"
    />
    <input
      class="radio-button"
      hidden
      type="radio"
      name="cube-gallery"
      [checked]="isChechked === 2"
    />
    <input
      class="radio-button"
      hidden
      type="radio"
      name="cube-gallery"
      [checked]="isChechked === 3"
    />
    <input
      class="radio-button"
      hidden
      type="radio"
      name="cube-gallery"
      [checked]="isChechked === 4"
    />
    <input
      class="radio-button"
      hidden
      type="radio"
      name="cube-gallery"
      [checked]="isChechked === 5"
    />
    <div class="cube">
      <div class="cube-side"></div>
      <div class="cube-side"></div>
      <div class="cube-side"></div>
      <div class="cube-side"></div>
      <div class="cube-side"></div>
      <div class="cube-side"></div>
    </div>
  </div>
</div>
